---
title: Upgrade Scenarios for TKGI v1.8 on vSphere
owner: TKGI
---

This topic provides examples of upgrade scenarios for TKGI installations
that are upgraded from v1.7 to v1.8 on vSphere.

## <a id="overview"></a>Overview

Description

## <a id="nsxt"></a>TKGI on vSphere with NSX-T Networking

### <a id="tkgi-only"></a>Scenario 1: Upgrading TKGI to v1.8

In this scenario, you upgrade TKGI from v1.7 to v1.8.
If you have not already done so, upgrade NSX-T to v2.5 before upgrading to
TKGI v1.8. For a list of NSX-T versions
compatible with <%= vars.product_short %> v1.8,
see [Product Snapshot](release-notes.html) in
_Release Notes_.

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Current version</th>
    <th>Post-upgrade version</th>
    <th>More information</th>
    <tr>
        <td>NSX-T</td>
        <td>2.4 or 2.5</td>
        <td>2.5</td>
        <td>See <a href="https://docs.pivotal.io/pks/1-7/upgrade-pks-nsxt.html#upgrade-nsxt">Upgrade NSX-T Data Center v2.4.3 to v2.5</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>2.7, 2.8, 2.9</td>
        <td>2.7, 2.8, 2.9</td>
        <td>Check <a href="https://network.pivotal.io/products/pivotal-container-service/">Tanzu Network</a>
        for patch compatibility.</td>
    </tr>
    <tr>
        <td>TKGI</td>
        <td>1.7</td>
        <td>1.8</td>
        <td>See <a href="upgrade-nsxt.html">Upgrading Tanzu Kubernetes Grid Integrated Edition (NSX-T Networking)</a>.</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td>6.5 or 6.7</td>
        <td>6.5 or 6.7</td>
        <td>See <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&644=&1=">VMware Product Interoperability Matrices</a>.</td>
    </tr>
</table>

### <a id="tkgi-nsxt"></a>Scenario 2: Upgrading to TKGI v1.8 and NSX-T v3.0.1

Description
Table

### <a id="tkgi-nsxt-vsphere"></a>Scenario 3: Upgrading to TKGI v1.8, NSX-T v3.0.1, and vSphere to v7.0

Description
Table

## <a id="flannel"></a>TKGI on vSphere with Flannel Networking

Description

### <a id="tkgi-only"></a>Scenario 1: Upgrading TKGI to v1.8

Description
Table

### <a id="tkgi-vsphere"></a>Scenario 2: Upgrading to TKGI v1.8 and vSphere to v7.0

Description
Table